<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      McZee
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item> 
    <ion-button (click)="iniciar()" expand="block" >
      Iniciar
    </ion-button>
  </ion-item>
  
  <ion-item>
    <ion-button (click)="detener()" expand="block">
      Detener
    </ion-button>
  </ion-item>

  <ion-card>
    <ion-card-content>
      <h2>x: {{datos.x | number:'1.4-4'}}</h2>
      <h2>y: {{datos.y | number:'1.4-4'}}</h2>
      <h2>z: {{datos.z | number:'1.4-4'}}</h2>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h2>x: {{inclinacion_x | number:'1.4-4'}}</h2>
      <h2>y: {{inclinacion_y | number:'1.4-4'}}</h2>
    </ion-card-content>
  </ion-card>
</ion-content>
